<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="as.mke.jscilent" >

	<!-- 1 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_APN_SETTINGS" />

    <!-- 2 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 3 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 4 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!--允许接收开机广播 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true" />
	
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/javascript"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".EditActivity"
            android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize" >
			
			>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/app_emu"
            android:theme="@style/AppTheme"
            android:name="com.jide.Emulator" />

		
		<activity
            android:label="@string/app_emu"
            android:theme="@style/AppTheme"
            android:name="com.jide.Emulator_js" />
		
		
		
        <activity
            android:label="@string/app_musicplay"
            android:theme="@style/AppTheme"
            android:name="com.mide.MusicActivity" />

        <activity
            android:label="@string/app_videoplay"
            android:name="com.mide.VideoActivity"
            android:theme="@style/AppFullTheme"
            android:screenOrientation="landscape" />

        <activity
            android:label="@string/app_web"
            android:theme="@style/AppTheme"
            android:name="com.mide.WebActivity"/>


        <activity
            android:label="@string/app_seting"
            android:theme="@style/AppTheme"
            android:name=".SettingActivity" />

        <activity
            android:label="@string/app_online"
            android:name=".OnlineActivity" 
            android:theme="@style/AppTheme" />

        <activity
            android:label="@string/app_apidoc"
            android:name=".ApiActivity" 
            android:theme="@style/AppTheme"  >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
		</activity>
		
		
    </application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
		
</manifest>
